/target
/node_modules
/dist
/web-dist/*
!/web-dist/.gitkeep
/tools
packaging/windows/FerraSSH.exe
packaging/windows/fonts/


/src-tauri/target
/src-tauri/gen
*.log
.DS_Store
Thumbs.db
.env
.env.*
*.pdb
*.db
*.db-wal
*.db-shm
*.vault
*.vault.tmp
.idea
.vscode/*
!.vscode/extensions.json
